#home{
	z-index: 0;
    overflow: hidden;
    grid-template-columns: auto 100rem auto;
    display: grid;
    position: relative;
    align-items: center;
    display: grid;
    position: relative;
    grid-area: 1 / 2 / 2 / 3;
    background-color: !important;
}